@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-100%);
    }
    70% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes eat {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .animate-fadeOut {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  .animate-fall {
    animation: fall 1s ease-in forwards;
  }
  
  .boy-animate {
    animation: eat 1s ease-in forwards;
    animation-delay: 1s; /* Delay to allow pizza to fall */
  }
  